body{
    font-family: 'Fredoka One',
    cursive;
}
.ammo-box{

    position: absolute;
    justify-content: space-evenly;
    background-color: aqua;
    bottom: 60px;
    left: 100px;
    display: flex;
    font-size: 2rem;
    padding: 20px 0;
    width: 200px;
    border: 2px solid rgb(255, 45, 45);
    color: white;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
}

.ammo-box img{
    height: 40px;
}
